body{
    background: linear-gradient(146deg, #ffa502 0%, #ff4757 100%);
    height: 100%;
    min-height: 100vh;
}
h1{
    font-size: 2em !important;
}
h2{
    font-size: 1.75em !important;
}
h3{
    font-size: 1.5em !important;
}
h4{
    font-size: 1.25em !important;
}
h5{
    font-size: 1em !important;
}
section{
    margin: 50px 0;
}
.s-titre{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    &::after{
        content: "";
        height: 2px;
        width: 60%;
        background-color: #ffa502;

    }
}
nav{
    position: fixed;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.4);
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: 99;
    .logo{
        left: 0;
    }
    .menu{
        color: white;
        div{
            position: relative;
            padding: 5px 10px;
            transition: all ease 0.3s;
            &:hover{
                cursor: pointer;
                &::after{
                    transform: scaleX(1);
                }
            }
            &::after{
                content: "";
                width: 100%;
                position: absolute;
                bottom: 0;
                background-color: white;
                height: 2px;
                border-radius: 10vh;
                left: 0;
                transform: scaleX(0);
                transition: all ease 0.3s;
            }
        }
    }
}

section.sect-pres{
    margin-top: 120px;
    .presentation{
        img.pp{
            object-fit: cover;
            border-radius: 2vh;
            box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.3);
            transform: scaleX(-1);
        }
        .bio{
            backdrop-filter: blur(10px);
            background-color: rgba(255, 255, 255, 0.4);
            padding: 20px;
            border-radius: 2vh;
            h2.titre{
                margin-bottom: 10px;
            }
        }
    }
    .comp-cont{
        padding: 20px;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        background-color: rgba(255, 255, 255, 0.4);
        border-radius: 2vh;
        margin: 50px;
    }
    .titre-compt,.s-titre{

        &::after{
            background-color: white !important;
        }
    }
    .competences{
        margin-top: 30px;
        div{
            position: relative;
            margin: 20px;
            .cont-barre{
                align-items: center;
                justify-content: space-between;
                margin: 0;
                margin-top: 10px;
            }
            .barre{
                background-color: #fff7e6;
                width: 100%;
                height: 20px;
                left: 0;
                margin: unset;
                position: relative;
                border-radius: 1vh;
                margin-right: 10px;
                &::after{
                    content: "";
                    height: 100%;
                    left: 0;
                    background-color: #5352ed;
                    position: absolute;
                    border-radius: 1vh;
                }
            }
        }
        .web{
            .barre{
                &::after{
                    width:86% ;
                }
            }
        }
        .logo{
            .barre{
                &::after{
                    width: 80%;
                }
            }
        }
        .iv{
            .barre{
                &::after{
                    width: 76%;
                }
            }
        }
        .retouche{
            .barre{
                &::after{
                    width: 68%;
                }
            }
        }
        .packaging{
            .barre{
                &::after{
                    width: 63%;
                }
            }
        }
    }
}

section.deuxieme{
    .sous-menu{
        div{
            overflow: hidden;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all ease 0.3s;
            img{
                object-fit: cover;
                width: 100%;
                height: 100%;
                transition: all ease 0.2S;
                z-index: 10;
            }
            .titre{
                color: white;
                position: absolute;
                opacity: 0;
                font-size: 1.5em;
            }
            &:hover{
                img{
                    z-index: 9;
                    filter: blur(3px);
                    transform: scale(1.1);
                    
                }
                .titre{
                    opacity: 1;
                    z-index: 51;
                }
            }
        }
    }
}

footer{
    background-color: white;
    padding: 50px;
    .titre-footer{
        text-align: center;
        margin-bottom: 30px;
    }
    .contact{
        display: flex;
        flex-direction: column;
        margin-left: 20px;
    }
    form{
        margin-right: 20px;
        input, textarea{
            margin: 20px 0px;
            padding: 10px;
            padding-left: 0;
            position: relative;
            border-bottom: #ffa502 2px solid;
        }
    }
    .btn{
        button{
            padding: 10px;
            color: #ffa502;
            border-bottom: solid 2px white;
            transition: all ease 0.2s;
            &:hover{
                border-bottom: solid 2px #ffa502;
            }
        }
    }
}
